# Maven / Java
target/
build/
.gradle/
*.class
*.jar
*.war

# VS Code / IntelliJ
.vscode/
.idea/
*.iml

# Logs
*.log
logs/

# Variables y configuraciones locales
.env
.env.*
application-local.properties
application-prod.properties
application-secrets.properties

# Windows
Thumbs.db
.DS_Store